<div class="page-header">
  <h3>Class Member: <%= @class_member.student.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Student</dt>
      <dd>
        <% if @class_member.student.present? %>
          <a href="/students/<%= @class_member.student_id %>">
            <%= @class_member.student.name %>
          </a>
        <% end %>
      </dd>

      <dt>Class</dt>
      <dd>
        <% if @class_member.class.present? %>
          <a href="/courses/<%= @class_member.course_id %>">
            <%= @class_member.course.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/class_members" class="btn btn-primary">
        Back
      </a>

      <a href="/delete_class_member/<%= @class_member.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Class member has many class_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Class_comments
      </li>

      <% @class_member.class_comments.each do |class_comment| %>
        <li class="list-group-item">
          <a href="/class_comments/<%= class_comment.id %>">
            <%= class_comment.summary %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/class_comments/<%= class_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>

            <%if @class_member.student.user.username == current_user.username %>
              <a href="/class_comments/<%= class_comment.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_class_comment/<%= class_comment.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
              <% end %>
          </div>
        </li>
      <% end %>


    </ul>
  </div>
</div>

<!-- A Class member has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @class_member.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.class_comment.summary %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>

            <%if @class_member.student.user.username == current_user.username %>
              <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>


    </ul>
  </div>
</div>
