<div class="page-header">
  <h3>Class Comment: <%= @class_comment.summary %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Author</dt>
      <dd>
        <% if @class_comment.class_member.present? %>
          <a href="/class_members/<%= @class_comment.class_member_id %>">
            <%= @class_comment.class_member.student.name %>
          </a>
        <% end %>
      </dd>

      <dt>Summary</dt>
      <dd><%= @class_comment.summary %></dd>

      <dt>Body</dt>
      <dd><%= @class_comment.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/class_comments" class="btn btn-primary">
        Back
      </a>
      <%if @class_comment.class_member.student.user.username == current_user.username %>
        <a href="/class_comments/<%= @class_comment.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_class_comment/<%= @class_comment.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Class comment has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @class_comment.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.class_comment.summary %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if @class_comment.class_member.student.user.username == current_user.username %>
              <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>

      
    </ul>
  </div>
</div>
