<div class="page-header">
  <h3>Course Member #<%= @course_member.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Student</dt>
      <dd>
        <% if @course_member.student.present? %>
          <a href="/students/<%= @course_member.student_id %>">
            <%= @course_member.student.name %>
          </a>
        <% end %>
      </dd>

      <dt>Course</dt>
      <dd>
        <% if @course_member.class.present? %>
          <a href="/courses/<%= @course_member.course_id %>">
            <%= @course_member.class.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/course_members" class="btn btn-primary">
        Back
      </a>
      <a href="/course_members/<%= @course_member.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_course_member/<%= @course_member.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Course member has many class_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Class_comments
      </li>

      <% @course_member.class_comments.each do |session_comment| %>
        <li class="list-group-item">
          <a href="/session_comments/<%= session_comment.id %>">
            <%= session_comment.course_member_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/session_comments/<%= session_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/session_comments/<%= session_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_session_comment/<%= session_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_session_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for course_member_id -->
      <div class="form-group">
        <label for="course_member_id" class="control-label">
          Course member
        </label>

        <%= select_tag(:course_member_id, options_from_collection_for_select(CourseMember.all, :id, :student_id), :class => "form-control") %>
      </div>

      <!-- Label and input for summary -->
      <div class="form-group">
        <label for="summary" class="control-label">
          Summary
        </label>

        <input type="text" id="summary" name="summary" placeholder="Summary" class="form-control" value="">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Session Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Course member has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @course_member.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.session_comment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for session_comment_id -->
      <div class="form-group">
        <label for="session_comment_id" class="control-label">
          Session comment
        </label>

        <%= select_tag(:session_comment_id, options_from_collection_for_select(SessionComment.all, :id, :course_member_id), :class => "form-control") %>
      </div>

      <!-- Label and input for course_member_id -->
      <div class="form-group">
        <label for="course_member_id" class="control-label">
          Course member
        </label>

        <%= select_tag(:course_member_id, options_from_collection_for_select(CourseMember.all, :id, :student_id), :class => "form-control") %>
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
