<div class="page-header">
  <h3>Course: <%= @course.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Professor</dt>
      <dd>
        <% if @course.professor.present? %>
          <a href="/professors/<%= @course.professor_id %>">
            <%= @course.professor.name %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @course.name %></dd>

      <dt>Quarter</dt>
      <dd><%= @course.quarter %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/courses" class="btn btn-primary">
        Back
      </a>

    </div>
  </div>
</div>

<!-- A Course has many class_members -->


<!-- A Course has many students -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Students
      </li>

      <% @course.students.each do |student| %>
        <li class="list-group-item">
          <a href="/students/<%= student.id %>">
            <%= student.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/students/<%= student.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if student.user.username == current_user.username %>
              <a href="/students/<%= student.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_student/<%= student.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
