<!-- Validation failure messages -->
<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_review/<%= @review.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <h4>Comment:</h4>
      <h3><%=@review.class_comment.summary%></h3>

      <!-- Label and input for class_comment_id -->
      <div class="form-group">
        <label for="class_comment_id" class="control-label">
          Class comment by:
        </label>
        <p><%=@review.class_comment.class_member.student.name%></p>

        <input type="text" id="class_comment_id" name="class_comment_id" placeholder="User" class="form-control" value="<%= @review.class_comment.class_member.id %>">

      </div>

      <!-- Label and input for class_member_id -->
      <div class="form-group">
        <label for="class_member_id" class="control-label">
          Reviewed by:
        </label>
        <input type="hidden" id="class_member_id" name="class_member_id" placeholder="User" class="form-control" value="<%= @review.class_member.id %>">
        <p><%=@review.class_member.student.name%></p>

      </div>

      <h5>Current rating:</h5>
      <h5><%=@review.rating%></h5>
      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          New rating
        </label>

        <%= select_tag(:rating, options_for_select(["Awful","Bad","Ok","Good","Great"]), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Review
      </button>
      or
      <a href="/reviews/<%= @review.id %>">Cancel</a>
    </form>
  </div>
</div>
