<div class="page-header">
  <h3>Review: <%= @review.class_comment.summary %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Class comment by:</dt>
      <dd>
        <% if @review.class_comment.present? %>
          <a href="/class_comments/<%= @review.class_comment_id %>">
            <%= @review.class_comment.class_member.student.name %>
          </a>
        <% end %>
      </dd>

      <dt>Summary</dt>
      <dd>
        <% if @review.class_member.present? %>
          <a href="/class_comments/<%= @review.class_comment.id %>">
            <%= @review.class_comment.summary %>
          </a>
        <% end %>
      </dd>

      <dt>Body</dt>
      <dd>
        <% if @review.class_member.present? %>

            <%= @review.class_comment.body %>
          </a>
        <% end %>
      </dd>

      <dt>Review by</dt>
      <dd>
        <% if @review.class_member.present? %>
          <a href="/class_members/<%= @review.class_member_id %>">
            <%= @review.class_member.student.name %>
          </a>
        <% end %>
      </dd>

      <dt>Rating</dt>
      <dd><%= @review.rating %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <%if @review.class_member.student.user.username == current_user.username %>
        <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <%end%>
    </div>
  </div>
</div>
